[submodule "cookbooks/apache2"]
        path = cookbooks/apache2
        url = git@github.com:JacobHayes/apache2.git
[submodule "cookbooks/cron"]
	path = cookbooks/cron
	url = git@github.com:opscode-cookbooks/cron.git
[submodule "cookbooks/drupal-cookbook"]
        path = cookbooks/drupal-cookbook
        url = git@github.com:JacobHayes/drupal-cookbook.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git@github.com:opscode-cookbooks/mysql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = git@github.com:opscode-cookbooks/php.git
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = git@github.com:opscode-cookbooks/postfix.git
