[submodule "cookbooks/cron"]
	path = cookbooks/cron
	url = git@github.com:opscode-cookbooks/cron.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git@github.com:opscode-cookbooks/mysql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git@github.com:opscode-cookbooks/openssl.git
[submodule "cookbooks/php"]
	path = cookbooks/php
	url = git@github.com:opscode-cookbooks/php.git
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = git@github.com:opscode-cookbooks/postfix.git
